body {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25em;

  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;

  color: var(--charcoal-grey);
  background-color: var(--dark-slate-grey);
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0 1.25em;
  background-color: #fff;
}

main > * {
  grid-column: span 12;
}

.hero-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  border-radius: 0 0 1.5em 1.5em;
}

.content {
  padding: 1.5em;
}

.content h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.subheading {
  margin: 1em 0;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content ul li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  gap: 1em;
}

.content ul li:not(:first-child, :last-child) {
  margin: 0.75em 0;
}

.content ul li::before {
  content: url(./assets/icon-list.svg);
  width: 21px;
  height: 21px;
  margin-top: 2px;
}

form {
  margin: 2em 0;
  overflow: hidden;
}

.top-section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.top-section h2 {
  font-size: 0.8em;
  color: var(--dark-slate-grey);
  font-weight: 700;
}

.error-message {
  color: var(--tomato) !important;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.error-message.visible {
  transform: translateX(0);
  opacity: 1;
}

.error-message.hide {
  transform: translateX(100%);
  opacity: 0;
}

form input {
  border-radius: 10px;
  border: 1px solid var(--grey);
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.75em 0;
  outline: 0;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.err {
  border-color: var(--tomato);
  background-color: hsla(4, 100%, 67%, 0.2);
}

form button,
.notification button {
  color: #fff;
  background-color: var(--dark-slate-grey);
  border-radius: 10px;
  font-weight: 700;
  border: 0;
  width: 100%;
  padding: 1em 1.5em;
  text-align: center;
  margin: 0.75em 0;
  transform: background-color 0.2s ease-in-out;
}

form button:active,
.notification button:active {
  background-color: var(--tomato);
}

.notification-wrapper {
  background-color: var(--dark-slate-grey);
  position: fixed;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.notification-wrapper.show {
  transform: translateY(0);
  opacity: 1;
}

.notification-wrapper.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.notification {
  padding: 1.5em;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.notification svg {
  margin: auto 0 0;
}

.notification h1 {
  font-size: 2.5em;
  line-height: 1;
  margin: 0.8em 0 0.6em;
}

.notification button {
  margin: auto 0 0;
}

@media screen and (min-width: 1024px) {
  body {
    place-items: center;
    font-size: 18px;
  }

  main {
    grid-column: 2 / span 10;
    padding: 1.5em;
    border-radius: 1.5em;
    margin-left: auto;
  }

  .content {
    order: 1;
    grid-column: span 6;
  }

  .content h1 {
    font-size: 3.5em;
  }

  .hero-container {
    order: 2;
    grid-column: 8 / span 5;
  }

  .hero-container img {
    border-radius: 1.5em;
  }

  .notification {
    font-size: 16px;
    max-width: 448px;
    padding: 3em;
    border-radius: 1.5em;
  }

  .notification h1 {
    font-size: 3.375em;
    margin: 0.625em 0 0.375em;
  }

  .notification p {
    font-size: 0.98em;
    margin: 0;
  }

  .notification button {
    margin: 3em 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .notification {
    width: 100%;
    height: 100%;
  }
}
